
.card{
    width: 100%;
    background-color: burlywood;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 16px;
    border: none;
    .img-container{
        width: 45%;
        img{
            border-radius: .25rem 0 0 .25rem;
            height: auto;
            width: 100%;
        }
    }
    .card-info{
        width: 55%;
        margin: 0 20px;
        @include phone{
            margin: 10px 20px; 
        }
        .button-box{
            margin : 16px 0 16px 0;
        }
        p{
            display: -webkit-box;
            -webkit-line-clamp: 3;
            overflow: hidden;
            -webkit-box-orient: vertical;
        }
    }
    @include phone {
        flex-direction: column;
        .img-container{
            margin-top: 15px;
            width: 60%;
            img{
                border-radius: 60px;                
            }

        }
        .card-info{
            width: auto;
            text-align: center;
        }
    }

}