.image-with-text{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 48px;
    .img-container{
        
        img{
            border-radius: 20% 20%;
            height:auto;
            width: 100%;
        }    
    }
    .text-container{
        @include phone{
            text-align: center;
        }
    }

}