
.side-nav{
    background-color: #f4f4f8;
    border-radius: 25px;
    height: 100%;

    form{
        div{
            display: flex;
        }
        margin-top: 15px;
        .icon{
            background-color: transparent;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url('/images/search.svg');
            height: 30px;
            width: 20px;
            border: none;
            position: absolute;
            bottom: 0;
            top: 80px;
            right: 78px;
            @media only screen and (max-width: 1199px){
                right: 33px;
            }
            @include tabletp{
                right: 0px;
                left: 180px;
            }
            @include phone {
                top: 75px;
            }

        }
        label{
            width: 49%;
            @media only screen and (max-width: 800px){
                display: block;
            }
        }
        .age{
            input{
                height: 25px;
                width: inherit;
            }
            @media only screen and (min-width:1023px) and (max-width: 1199px){
                padding-left: 12px;
            }
        }
    }
    .button{
        margin-bottom: 15px;
        padding: 4px 12px;
    }
    .results{  
        
        width: fit-content;
        padding: 5px 25px 5px 5px;
        margin-bottom: 10px;
        background-color: aqua ;
        border: aqua 2px solid;
        border-radius: 15px;
        cursor: pointer;
        span{
            width: 11px;
            height: 11px;
            position: absolute;
            margin: 8px 5px;
            border: 1px solid solid;
            border-radius: 10px;
            background: url('/images/close_icon_black.svg');
        }

    }
    @media only screen and (max-width: 800px){
      margin-bottom: 15px;
    }

}