.button{
  color: white;
  box-shadow: 2px 2px black;
  background-color: #2a7fba;
  padding: 8px 15px;
  border-radius: 5px;
  border: 1px black solid;
  &:hover{
    background-color: white;
    color: #2a7fba;
    text-decoration: none;
  }
}

h1{
  font-size:  32px;
  @media only screen and (max-width: 1199px){
    font-size:28px;
  }
  @include tabletp {
    font-size: 24px;
  }
  @include phone{
    font-size: 20px;
  }
}

h2{
  font-size: 28px;
  @media only screen and (max-width: 1199px){
    font-size:24px;
  }
  @include tabletp{
    font-size: 20px;
  }
  @include phone{
    font-size: 16px;
  }
}

h3{
  font-size: 24px;
  
  @media only screen and (max-width: 1199px){
    font-size:20px;
  }
  @include phone {
    font-size: 16px;
  }
  
}


h4,h5{
  font-size: 20px;
  @include tabletp{
    font-size: 16px;
  }

}

section {
  margin: 0 auto 150px;
}