@import 'global/variables.scss';
@import 'global/global.scss';
@import 'global/footer.scss';
@import 'components/sidenav.scss';
@import 'components/card.scss';
@import 'components/details.scss';

#root{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.app {
  margin: 0 auto;
  display: flex;
  justify-content: center;

}

