.button{
  color: white;
  box-shadow: 2px 2px black;
  background-color: #2a7fba;
  padding: 8px 15px;
  border-radius: 5px;
  border: 1px black solid;
}

h1{
  font-size: 28px;
}

h2{
  font-size: 26px;
}

h3{
  font-size: 24px;
}
